div.d {
    background-color: #fffcd4;
}

div.a {
    background-color: #adff2f;
}

div.r {
    background-color: #ffa404;
}

div.b {
    background-color: blue;
}

.caja {
    background-color: yellow;
    color: blueviolet;
}

div.y {
    background-color: blue;
}